/*@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400i");

*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');




* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans;
  }
body {
  max-width: 1600px;
  line-height: 1.5em;
}

.container {
  width: 100%;
  height: auto;
  max-width: 900px;
  margin: auto; }

h1, h2, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 700; }

h3 {
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 300;
  line-height: 85px;
}

h3:before {
  content:"";
  width: 100px;
  display: inline-block;
  border-top: 3px solid green;
  margin-bottom: 8px;
  margin-right: 30px;

}
h3:after { 
  content: url(winosera-logo.gif);
  white-space: pre;
  padding: 0 30px;
}



a {
  text-decoration: none; }

img {
  height: auto;
  width: 100%; }

.subtitle {
  width: 70%;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 20px;
}

.odwrotnosc {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.clearfix {
  clear: both; }

/* GRID */

[class*="col-"] {
  width: 100%;
  height: auto;
  float: left; }

[class*="col-"] {
  float: left;
  min-height: 30px;
  margin: 0px 0; }

.col-1 {
  width: 8.33%;
  height: auto; }

.col-2 {
  width: 16.66%;
  height: auto; }

.col-3 {
  width: 25%;
  height: auto; }

.col-4 {
  width: 33.33%;
  height: auto; }

.col-5 {
  width: 41.66%;
  height: auto; }

.col-6 {
  width: 50%;
  height: auto; }

.col-7 {
  width: 58.33%;
  height: auto; }

.col-8 {
  width: 66.66%;
  height: auto; }

.col-9 {
  width: 75%;
  height: auto; }

.col-10 {
  width: 83.33%;
  height: auto; }

.col-11 {
  width: 91.66%;
  height: auto; }

.col-12 {
  width: 100%;
  height: auto; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offet-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

.col-offset-12 {
  margin-left: 100%; }

header {
  height: 100vh;
  background-image: url(hero-image.jpeg);
  background-repeat: none;
  background-size: cover; 
}

.logo {
  padding: 10px;
  border: 3px solid rgba(255, 255, 255, 0.0) ;
  border-radius: 50%;
  box-shadow: 0 0 25px 2px rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.8);
}

header .row {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 13px;
    font-size: 1.3rem;
    /*border-bottom: 1px solid #87244C;*/
    padding: 15px;
    color: white; }

header .row ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      font-size: 13px;
      font-size: 1.3rem;
      list-style: none; }
header .row li {
      padding: 15px;
  
     }
header .row a {
      text-transform: uppercase;
      color: white; }

header .row h2 {
      font-weight: 700;
      color: rgba(255, 255, 255, 0.5);
      font-family: 'Dancing Script', cursive; }

header .row h2 .box {
        font-weight: 200;
        color: white;
        font-family: 'Dancing Script', cursive; }

.hero .container {
  width: 80%;
  padding: 7%;
  text-align: center; }

.hero {
    margin: auto;
}

  
.hero .container h1 {
    padding: 5px 10px;
    font-size: 45px;
    font-size: 4.5rem;
    font-family: 'Dancing Script', cursive;
    color: white;
    text-transform: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    font-weight: 300;
   }



/*O NAS */

.onas .row  {
  background-color: #B5B690;
}
.onas .quot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 3% auto;
  width: 80%;
  padding: 3% 0;
 }

.onas p {
  padding: 5px;
  color: white;
}

.onas h6 {
  padding: 15px 0;
  font-size: 6px;
  font-size: 0.6rem; }


  /*OFERTA*/

  .oferta [class*="col-"] {
  position: relative; 
}

.oferta .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(143,8,83, 0.8);
  opacity: 0;
  z-index: 10;
  transition: 0.7s;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  color: white; }


.oferta img {
  display: block;
  width: 100%;
  border-right: 1px solid white;
  border-bottom: 1px solid white; }

.oferta photo {
  position: relative;
  z-index: 1; }

/*
.oferta .row {
  width: 80%;
  margin: 0 auto;
   }

.oferta img {
  max-height: 200px;
  max-width: 200px;
}


.oferta .member {
  padding: 25px; }

  .oferta .member h4 {
    padding: 8px 0;
    font-weight: 400; }

  .oferta .member h6 {
    color: #EA5A5A;
    text-transform: uppercase; }

  .oferta .member p {
    padding: 8px 0;
 }
*/
  /*Kontakt*/

  .contact {
  background-color: #B5B690;
  text-align: center;
  font-weight: 200;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
  color: darkslategrey; }

  .contact .row {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background-color: #F1F1DC; }


  .contact .days {
    margin: auto 20px;
    text-align: center;
  }
  .contact h4, .contact h5 {
    color: #87244C;
  }
  .contact a {
    color: darkslategrey;
  }
  .contact a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: white;
  }
  .contact i {
    font-size: 1.5em;
    padding: 4px;
    color:  #87244C;
  }

/*MAPA*/

.google-map {

}

/*STOPKA*/

.footer {
  line-height: 1.3em;
  background-color: #30162B;
  font-size: 6px;
  font-size: 0.6rem;
  color: gray;
  text-align: center;
  padding: 5px 0; }
  .footer .fa {
    color: #EA5A5A; }





@media (min-width: 768px) {
  .col-m-1 {
    width: 8.33%;
    height: auto; }
  .col-m-2 {
    width: 16.66%;
    height: auto; }
  .col-m-3 {
    width: 25%;
    height: auto; }
  .col-m-4 {
    width: 33.33%;
    height: auto; }
  .col-m-5 {
    width: 41.66%;
    height: auto; }
  .col-m-6 {
    width: 50%;
    height: auto; }
  .col-m-7 {
    width: 58.33%;
    height: auto; }
  .col-m-8 {
    width: 66.66%;
    height: auto; }
  .col-m-9 {
    width: 75%;
    height: auto; }
  .col-m-10 {
    width: 83.33%;
    height: auto; }
  .col-m-11 {
    width: 91.66%;
    height: auto; }
  .col-m-12 {
    width: 100%;
    height: auto; }


  input[type="checkbox"] + label {
    font-size: 25px;
    cursor: pointer;
    display: none; }

  input {
    display: none; }

.menu a {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 18px ;
  color: #E3E5E6;
  text-decoration: none;
}
a:hover{
  color: #E3E5E6;
  text-decoration: none;
}

.menu a:before, .menu a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -2px;
  background: #E3E5E6;
}

.menu a:before {
  left: 0;
}
.menu a:after {
  right: 0;
  background: #fff;
  transition: width 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu a:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu a:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
.oferta .layer:hover {
    opacity: 1;
 }
  
}

@media (max-width: 767px) {
  .col-s-1 {
    width: 8.33%;
    height: auto; }
  .col-s-2 {
    width: 16.66%;
    height: auto; }
  .col-s-3 {
    width: 25%;
    height: auto; }
  .col-s-4 {
    width: 33.33%;
    height: auto; }
  .col-s-5 {
    width: 41.66%;
    height: auto; }
  .col-s-6 {
    width: 50%;
    height: auto; }
  .col-s-7 {
    width: 58.33%;
    height: auto; }
  .col-s-8 {
    width: 66.66%;
    height: auto; }
  .col-s-9 {
    width: 75%;
    height: auto; }
  .col-s-10 {
    width: 83.33%;
    height: auto; }
  .col-s-11 {
    width: 91.66%;
    height: auto; }
  .col-s-12 {
    width: 100%;
    height: auto; }

  nav {
    text-align: center; }

    nav .row {
      flex-direction: column; }

      nav .row ul {
        padding: 0; }

    nav .menu {
      padding: 10px;
      font-size: 18px;
      font-size: 1.8rem; }

    nav label {
      display: block;
      font-size: 15px;
      font-size: 1.5rem; }

    nav #menu-button {
      display: none; }

    nav #menu-button:not(:checked) ~ ul {
      display: none; }

    nav #menu-button:checked ~ ul {
      display: block; }
 
 h3:after {
  padding: 0px 0;
 }
 h3 {
  padding: 0px;
 }

  .adress, .hours, .phone {
    padding: 20px;
  }

  input[type="checkbox"] + label {
    font-size: 35px;
    color: #E3E5E6;
    }
  label {
    padding: 15px;
  }
  }